$brand-color: #c8531f;
$brand-color-light: #f58546;

$accent-color: #cce9ed;

$neutral: #b2a095;
$neutral-light: lighten($neutral, 27%);

$light: #fff;
$dark: darken($neutral, 40%);

$twitter-color: #55acee;
$facebook-color: #3d5a98;
$google-plus-color: #dd4b39;
$pinterest-color: #cc2127;
$youtube-color: #e52d27;
